body{
    background-color: dodgerblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 14px;
}

.contenedor{
    height: auto;
    padding: 1em;
}

.principal{
    background-color: whitesmoke;
    margin: auto;
    margin-top: 1.5em;
    width:  800px;
    height: auto;
    border-radius: 1em;
}

.formulario{
    text-align: center;
    margin: auto;
    height: auto;
}

.formulario input{
    border-color:black;
    border-radius: 0.5em;

}

.botones{
    text-align: center;
}


.resultados{
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
}

button{
border: none;
background-color: dodgerblue;
border-radius: .5em;
color: whitesmoke;
font-weight:bolder;
width: 75px;
height: 30px;
}

    button:hover{
        cursor: pointer;
        background-color: rgb(22, 104, 187);
        transition: all 0.5s;

    }

.btnInput{
    border: none;
    background-color: dodgerblue;
    border-radius: .5em;
    color: whitesmoke;
    font-weight:bolder;
    width: 75px;
    height: 30px;
    }
    
    .btnInput:hover{
        cursor: pointer;
        background-color: rgb(22, 104, 187);
        transition: all 0.5s;
    }
    


.pie{
    text-align: center;
}

h1{
    text-align: center;
    
}
